body {
    height: 100vh;
}

p,
span {
    color: white;
    text-align: center;
}

.card-container {
    border: black 1px solid;
    margin-left: 20px;
    background-color: rgb(93, 63, 63);
    padding: 30px;
    max-height: 600px;
}

.bar {
    width: 100%;
    background-color: black;
}

.rating-bar {
    background-color: yellow;
    border: 2px black solid;
}

.bg-container {
    height: 400px;
    margin-top: 10px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}